textarea {
    line-height: 1.5;
    padding: 10px;
}

.title {
    margin-left: 10px;
}

::selection {
  background: yellow;
  color: black;
}
::-moz-selection {
  background: yellow;
  color: black;
}
::-webkit-selection {
  background: yellow;
  color: black;
}

.icon:hover {
    color: rgb(0, 170, 227);
}
.toolbar {
    padding-left: 10px;
}

textarea:active {
    outline: none;
    outline-color: rgb(0, 170, 227)
}

@media print {
    nav {
        display: none;
    }
    .title {
        display: none;
    }
    input {
        display: none;
    }
    label {
        display: none;
    }
    textarea {
        height: 80dvh !important;
    }
}

.icon {
    color: white;
}

button {
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 50%;
    margin: 3px;
}

button:active {
    border-radius: 1px solid black;
}

button:hover {
    background-color: rgb(0, 170, 227);
}