textarea {
    line-height: 1.5;
    padding: 10px;
}

.title {
    margin-left: 10px;
}

::selection {
  background: yellow;
  color: black;
}
::-moz-selection {
  background: yellow;
  color: black;
}
::-webkit-selection {
  background: yellow;
  color: black;
}

.icon:hover {
    color: yellow;
}
.toolbar {
    padding-left: 10px;
}

@media print {
    nav {
        display: none;
    }
    .title {
        display: none;
    }
    input {
        display: none;
    }
    label {
        display: none;
    }
    textarea {
        height: 80dvh !important;
    }
}

.icon {
    color: white;
}